
#btn_zuri, #books, #book_python, #pitch, #book_design, .twitter{
    text-align: center;
    background: #EAECF0;
    padding: 24px 32px;
    text-decoration: none;
    color: #101828;
    font-weight: 600;
    border-radius: 8px;
}
.twitter{
    font-weight: 500;
}
.twitter p:hover{
    text-decoration: underline;
    text-decoration-color:  #7A5AF8;
    text-decoration-thickness: 2px;
}
#books:hover{
    border: 1px solid #7A5AF8;
    background: #D0D5DD;
}
#book_python:hover{
    border: 1px solid #7A5AF8;
    background: #D0D5DD;
}
#pitch:hover{
    border: 1px solid #7A5AF8;
    background: #D0D5DD;
}
#book_design:hover{
    border: 1px solid #7A5AF8;
    background: #D0D5DD;
}
 .twitter:hover{
    border: 1px solid #7A5AF8;
    background: #D0D5DD;
}
#btn_zuri:hover{
    border: 1px solid #7A5AF8;
    background: #D0D5DD;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 24px;
}
.image{
    width: 24px;
    cursor: pointer;
    height: 24px;
}
.img-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 24px;
}

@media screen and (max-width: 900px) {
    .links{
        font-size: 14px;
    }
    #books:focus{
        border: 1px solid #7A5AF8;
        background: #D0D5DD;
    }
    #book_python:focus{
        border: 1px solid #7A5AF8;
        background: #D0D5DD;
    }
    #pitch:focus{
        border: 1px solid #7A5AF8;
        background: #D0D5DD;
    }
    #book_design:focus{
        border: 1px solid #7A5AF8;
        background: #D0D5DD;
    }
     .twitter:focus{
        border: 1px solid #7A5AF8;
        background: #D0D5DD;
    }
    #btn_zuri:focus{
        border: 1px solid #7A5AF8;
        background: #D0D5DD;
    }
    
    
}